### GOAL 

![](_df_goal.png)

To save it as a  file in local

## Working on s

In [2]:
import requests #Traer el fichero de internet o acceder a algun lugar de internet
import  #trabaja con s
import pandas as pd #libreria para data mining/data wrangling (data wrangling es traerlo de internet  y mineria de datos limpiar los datos y ponerlos bonitos)

## 1. 

Read an online   (not always needed). 

If it is a local  --> 'with open()'

In [3]:
r = requests.get(url='https://mdn.github.io/learning-area/javascript/oojs//superheroes.')

_readed = r.()
print(type(_readed)) #las claves de mi diccionario van a ser mis columnas
_readed

<class 'dict'>

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

In [39]:
print(_readed)

{'squadName': 'Super Hero Squad', 'homeTown': 'Metro City', 'formed': 2016, 'secretBase': 'Super tower', 'active': True, 'members': [{'name': 'Molecule Man', 'age': 29, 'secretIdentity': 'Dan Jukes', 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}, {'name': 'Madame Uppercut', 'age': 39, 'secretIdentity': 'Jane Wilson', 'powers': ['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']}, {'name': 'Eternal Flame', 'age': 1000000, 'secretIdentity': 'Unknown', 'powers': ['Immortality', 'Heat Immunity', 'Inferno', 'Teleportation', 'Interdimensional travel']}]}

------------------

## 2. 

Save  in a local file called "data."

In [4]:
with open('data.', 'w+') as vr: #esto es como vuelco un archivo de internet en una carpeta local se guarda en la carpeta local donde estoy
    .dump(_readed, vr)

------------------

## 3. 

Save with indent

In [5]:
with open('data_indented.', 'w+') as outfile: #asi para que sea mas legible si no se lee muy mal en el archivo que he creado (data_indented) "w+"
    .dump(_readed, outfile, indent=4)

------------------

## 4.

Read local

In [6]:
with open('data_indented.', 'r+') as outfile: #permisos de lectura "r+"
    _readed = .load(outfile)
print(type(_readed))
_readed

<class 'dict'>

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

## 5. 

Transform to pandas DataFrame. Two ways:

In [43]:
df = pd.DataFrame(_readed)  # From dict -> directamente desde internet
df

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

In [8]:
df_ = pd.read_("data_indented.") #-> desde un 
df_

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

------------------

## 6.

### Data Mining & Data Wrangling
As you can see, there are s inside the original . For that, we have to modify the data to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

In [9]:
#accedemos a la columna members de dataframe
type(df_["members"])

pandas.core.series.Series

In [10]:
# hay 3 filas xq tenemos 3 s dentro de la lista y como tienen las mismas claves salen 3 filas con la clave name, age, secretidentity powers.
df_members_ = pd.DataFrame(_readed["members"]) 
df_members_

,name,age,secretIdentity,powers
0,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

--------------------------------------

**Concatenamos por columnas los dataframes**

In [14]:
final_df = pd.concat([df_, df_members_], axis=1)
final_df

,squadName,homeTown,formed,secretBase,active,members,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde...",Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret...",Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec...",Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

#### Borramos la columna members

In [15]:
final_df = final_df.drop(["members"], axis=1)
final_df

,squadName,homeTown,formed,secretBase,active,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

--------------------

# EXTRA

--------------------

In [16]:
# Para guardar en un archivo local
final_df.to_("_name.")

Nota: #LEER  es importante, para poder trabajar si nos da problemas cuando sea in diccionario

1. Con dumps, cargamos el contenido de un diccionario a formato string
2. Con loads, cargamos el contenido de un string a formato  formal.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_.html

In [17]:
# Para guardar en un archivo local con indentación
import 
_result = final_df.to_(orient="records") #primero paso a jsn
parsed = .loads(_result) #luego lo paso a parse
with open("final_.", 'w+') as outfile: #y que me lo guarde
    .dump(parsed, outfile, indent=4)

In [79]:
pd.read_("final_.")

,squadName,homeTown,formed,secretBase,active,name,age,secretIdentity,powers
0,Super Hero Squad,Metro City,2016,Super tower,True,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation..."
1,Super Hero Squad,Metro City,2016,Super tower,True,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super..."
2,Super Hero Squad,Metro City,2016,Super tower,True,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport..."

In [ ]:
# con panda podemos guardar archivos en muchos tipos de archivos, excel csv etc.

In [20]:
final_df.to_csv("datos_finales.csv")

In [23]:
final_df.to_excel("datos_finales.xlsx")

ModuleNotFoundError: No module named 'openpyxl'