#### Por cada una de las columnas categóricas, tenemos que utilizar un label encoder diferente

- Hay que tener cuidado al entrenar los valores numéricos que representan valores categóricos. Un algoritmo puede entender que "tokio" es más que "paris" porque su valor es mayor al relacionarlos con las demás variables. podemos poner numeros muy altos para que no de error ejemplo 10000 10001 y 10002

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [5]:
data = ["paris", "paris", "tokyo", "amsterdam"]
le.fit(data)

LabelEncoder()

In [6]:
le.transform(data) #nos da los numeros asignados a cada categoria

array([1, 1, 2, 0])

In [7]:
list(le.classes_) #nos muestra las etiquetas

['amsterdam', 'paris', 'tokyo']

In [8]:
le.transform(data)

array([1, 1, 2, 0])

In [9]:
le.transform(["tokyo", "tokyo", "paris"]) #nos dice los numeros

array([2, 2, 1])

In [10]:
list(le.inverse_transform([2, 2, 1])) #ahora dame las etiquetas que significa cada uno

['tokyo', 'tokyo', 'paris']

###Ejemplo 2

In [12]:
new_label_encoder=preprocessing.LabelEncoder()
data = ["1 semana", "1 mes", "1 año", "mas de un año"] #para nombres de las columnas evitar poner ñ y tildes
new_label_encoder.fit_transform(data)

array([2, 1, 0, 3], dtype=int64)