# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [6]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [11]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/.tsv"
df=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/.tsv",sep="\t")
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [ ]:
df1=df.apply(lambda x:df["item_name"], df[0]["item_price"].value_counts().idxmax())

In [6]:
df["item_price"]=df["item_price"].apply(lambda x:x.lstrip("$"))

In [7]:

df["item_price"] = df["item_price"].astype(float)

In [13]:
max_price = df[df["item_price"] == df["item_price"].max()]
print(max_price["item_name"])

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 4. How many products cost more than $10.00?

In [19]:
df[(df.item_price > 10.00)] #1130 productos

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [28]:
df1=df[(df.item_price > 10.00)]
df1.drop(["order_id","quantity","choice_description"], axis=1)

               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [31]:
df.sort_values(by=["item_name"])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [32]:
max_price = df[df["item_price"] == df["item_price"].max()]
print(max_price["quantity"])

3598    15
Name: quantity, dtype: int64

V2

In [ ]:
max_price = df[df["item_price"] == df["item_price"].max()]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [38]:
df.groupby(["item_name"]).count() #18

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,54,54,54,54
Barbacoa Bowl,66,66,66,66
Barbacoa Burrito,91,91,91,91
Barbacoa Crispy Tacos,11,11,11,11
Barbacoa Salad Bowl,10,10,10,10
Barbacoa Soft Tacos,25,25,25,25
Bottled Water,162,162,0,162
Bowl,2,2,2,2
Burrito,6,6,6,6
Canned Soda,104,104,104,104
Canned Soft Drink,301,301,301,301
Carnitas Bowl,68,68,68,68
Carnitas Burrito,59,59,59,59
Carnitas Crispy Tacos,7,7,7,7
Carnitas Salad,1,1,1,1
Carnitas Salad Bowl,6,6,6,6
Carnitas Soft Tacos,40,40,40,40
Chicken Bowl,726,726,726,726
Chicken Burrito,553,553,553,553
Chicken Crispy Tacos,47,47,47,47
Chicken Salad,9,9,9,9
Chicken Salad Bowl,110,110,110,110
Chicken Soft Tacos,115,115,115,115
Chips,211,211,0,211
Chips and Fresh Tomato Salsa,110,110,0,110
Chips and Guacamole,479,479,0,479
Chips and Mild Fresh Tomato Salsa,1,1,0,1
Chips and Roasted Chili Corn Salsa,22,22,0,22
Chips and Roasted Chili-Corn Salsa,18,18,0,18
Chips and Tomatillo Green Chili Salsa,43,43,0,43
Chips and Tomatillo Red Chili Salsa,48,48,0,48
Chips and Tomatillo-Green Chili Salsa,31,31,0,31
Chips and Tomatillo-Red Chili Salsa,20,20,0,20
Crispy Tacos,2,2,2,2
Izze,20,20,20,20
Nantucket Nectar,27,27,27,27
Salad,2,2,2,2
Side of Chips,101,101,0,101
Steak Bowl,211,211,211,211
Steak Burrito,368,368,368,368
Steak Crispy Tacos,35,35,35,35
Steak Salad,4,4,4,4
Steak Salad Bowl,29,29,29,29
Steak Soft Tacos,55,55,55,55
Veggie Bowl,85,85,85,85
Veggie Burrito,95,95,95,95
Veggie Crispy Tacos,1,1,1,1
Veggie Salad,6,6,6,6
Veggie Salad Bowl,18,18,18,18
Veggie Soft Tacos,7,7,7,7

### Step 9. How many times did someone order more than one Canned Soda?

In [49]:
df1=df[(df.quantity > 1)]
df2=df1[(df.item_name=="Canned Soda")]

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [52]:
len(df2)

20