## Working on Jsons

In [3]:
import requests
import json
import pandas as pd

In [5]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [7]:
df = pd.DataFrame(json_readed)
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [8]:
df2 = df.loc["standard":, "league":]
df2

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [9]:
# Pasar una serie a DataFrame
df_serie = df.loc["standard":, "league"]
df3 = pd.DataFrame(df_serie)
df3

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

#### GOAL

![](json_df_goal_nba.png)

In [11]:
df4 = pd.DataFrame(df3["members"]) 
df_members_json

KeyError: 'isNBAFranchise'