# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [3]:
student_list=['pablo','maria','marina','sonia']
print(student_list)

['pablo', 'maria', 'marina', 'sonia']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [4]:
empty_list=[]
print(empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [8]:
my_list=[1,'2',[2,"ab"],2.1,"abc"]
print(len(my_list))

5

3. Find the length of **my_list**

In [7]:
print(len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [10]:
print(my_list[0])
print(my_list[2])
print(my_list[4])

1
[2, 'ab']
abc

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [ ]:
name='pablo'
age=28
height=181
country='spain'
python_version='3.7.4'

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [11]:
mixed_data_types=['pablo',28,181,'spain','3.7.4']
print(mixed_data_types)

['pablo', 28, 181, 'spain', '3.7.4']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [13]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]


8. Print **it_companies** using print()

In [14]:
print(it_companies)

['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [15]:
print(len(it_companies))

7

11. Print *Google*

In [18]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [20]:
print(it_companies[0])
print(it_companies[3])
print(it_companies[6])

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [26]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
it_companies.remove ("Amazon")
print(it_companies)
it_companies.append("Ebay")
print(it_companies)

['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle']
['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle', 'Ebay']

12. Print the list after modifying one of the companies

In [27]:
print(it_companies)

['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle', 'Ebay']

## Bonus track.

13. Add an IT company to **it_companies**

In [28]:
it_companies.append("SAP")
print(it_companies)

['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle', 'Ebay', 'SAP']

14. Check if *Apple* exists in the **it_companies** list.

In [29]:
bool("Apple")

True

15. Sort the list using `sort()` method

In [36]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsfot', 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [39]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
it_companies.sort()
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsfot', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

17. Slice out the first 3 companies from the list

In [42]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
print(it_companies[0:3])

['Facebook', 'Google', 'Microsfot']

18. Remove the last IT company from the list

In [45]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
it_companies.remove("Amazon")
print(it_companies)

['Facebook', 'Google', 'Microsfot', 'Apple', 'IBM', 'Oracle']

19. Remove all IT companies from the list

In [51]:
it_companies=["Facebook","Google","Microsfot","Apple","IBM","Oracle","Amazon"]
it_companies.remove("Amazon")
it_companies.remove("Facebook")
it_companies.remove("Google")
it_companies.remove("IBM")
it_companies.remove("Oracle")
it_companies.remove("Microsfot")
it_companies.remove("Apple")
print(it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [52]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end= front_end+back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [54]:
print(end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [56]:
print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [58]:
tup=("T",)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [59]:
print(type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#you can't do it. Firstly you have to transform it into a list so after that you can modify it. Once you have changed you transform it back to a tuple.

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
#you can reasign a new value to the tuple only if you don't change the lenght of the tuple and its order.

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [14]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [66]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]
my_set = set(lista_repes)
print(my_set)

{'science', 'diomedes', 'python', 'clara', 'data', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [ ]:
print(my_set[0])

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?