# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [1]:
s='My very first python code:'
s

'My very first python code:'

2. Declare a **first name** variable and assign a value to it

In [2]:
first_name ='Pablo Eduardo'
first_name

'Pablo Eduardo'

3. Declare a **last name** variable and assign a value to it

In [4]:
last_name='Martinez'
last_name

'Martinez'

4. Declare a **full name** variable and assign a value to it

In [5]:
full_name='Pablo Eduardo Martinez'
full_name

'Pablo Eduardo Martinez'

5. Declare a **country** variable and assign a value to it

In [6]:
Country='Spain'
Country

'Spain'

6. Declare a **city** variable and assign a value to it

In [7]:
city='Majadahonda'
city

'Majadahonda'

7. Declare an **age** variable and assign a value to it

In [8]:
age=28
age

28

8. Declare a **year** variable and assign a value to it

In [9]:
year=1992
year

1992

9. Declare a variable **is_married** and assign a value to it

In [10]:
is_married='no'
is_married

'no'

10. Declare a variable **is_true** and assign a value to it

In [11]:
is_true='yes'
is_true

'yes'

11. Declare a variable **is_light_on** and assign a value to it

In [12]:
is_light_on='yes'
is_light_on

'yes'

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [18]:
print(type(s))
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(Country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [19]:
age=float(age)
print(type(age))

<class 'float'>

2. Using the `len()` built-in function find the length of your first name

In [24]:
print(len(first_name))

13

3. Compare the length of your first name and your last name

In [25]:
print(len(first_name))
print(len(last_name))

13
8

4. Declare 5 as **num_one** and 4 as **num_two**

In [26]:
num_one=5
num_two=4
print(num_one)
print(num_two)

5
4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [37]:
num_one=5
num_two=4
variable_total=num_one+num_two
print(variable_total)

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [36]:
num_one=5
num_two=4
variable_diff=num_two-num_one
print(variable_diff)

-1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [38]:
num_one=5
num_two=4
variable_product=num_two*num_one
print(variable_product)

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [39]:
num_one=5
num_two=4
variable_division1=num_one//num_two
print(variable_division1)
variable_division2=num_one/num_two
print(variable_division2)

1
1.25

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [40]:
num_one=5
num_two=4
_remainder=num_two%num_one
print(_remainder)

4

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [41]:
_exp=num_one**num_two
print(_exp)

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [43]:
num_one=5
num_two=4
_floor_division=num_one//num_two
print(_floor_division)

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [47]:
R=30
area_of_circle=3.1416*(R**2)
print(area_of_circle)

2827.44

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [49]:
circum_of_circle=2*R*3.1416
print(circum_of_circle)

188.496

14. Take radius as user input and calculate the area.

In [52]:
area_of_circle2=3.1416*int(input())**2
print(area_of_circle2)

2827.44

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [53]:
first_name1=input('first name')
last_name1=input('last name')
country1=input('country')
age1=input('age')
print(first_name1)
print(last_name1)
print(age1)
print(country1)

Pablo Eduardo
Martinez
28
Spain

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [54]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)