### 1. Se pide: (regression)

A partir del archivo "USA_Housing.csv", realizar la regresión no lineal entre cada columna numérica con la columna 'price' utilizando:

- SVR

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.io as sio
from sklearn import svm
df = pd.read_csv("../data/USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\r\nLake Kathleen, ..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\r\nDanieltown, WI 064..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\r\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\r\nFPO AE 09386

In [4]:
X = np.array(df['Avg. Area Income']).reshape(-1,1)
y = np.array(df['Price'])

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
svr = svm.SVR()
svr.fit(X_train,y_train)
print ('score:', svr.score(X_train, y_train))
print ('score:', svr.score(X_test, y_test))

score: 0.0013344820585420303
score: 0.0013665486719212083

In [7]:
X1 = np.array(df['Avg. Area Number of Rooms']).reshape(-1,1)
y1 = np.array(df['Price'])
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)

svr = svm.SVR()
svr.fit(X1_train,y1_train)
print ('score:', svr.score(X1_train, y1_train))
print ('score:', svr.score(X1_test, y1_test))

score: 0.0002561190089713783
score: 0.0003255342618766477

In [8]:
X1 = np.array(df['Avg. Area Number of Bedrooms']).reshape(-1,1)
y1 = np.array(df['Price'])
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)

svr = svm.SVR()
svr.fit(X1_train,y1_train)
print ('score:', svr.score(X1_train, y1_train))
print ('score:', svr.score(X1_test, y1_test))

score: 2.525181270374155e-05
score: 6.671464991148124e-05

In [9]:
X1 = np.array(df['Area Population']).reshape(-1,1)
y1 = np.array(df['Price'])
from sklearn.model_selection import train_test_split

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)

svr = svm.SVR()
svr.fit(X1_train,y1_train)
print ('score:', svr.score(X1_train, y1_train))
print ('score:', svr.score(X1_test, y1_test))

score: 0.000479177884957549
score: 0.0005357709719858716

### 2. Se pide: (classification)

En el anterior dataset, la columna "Avg. Area Number of Bedrooms" está en un rango numérico limitado:

1. Cambia todos los datos para que sean enteros redondeando hacia el entero más cercano. Si es .5 exacto, se redondea hacia abajo.

2. Cuando lo hayas hecho, tendrás una columna con números enteros en un rango limitado. Ahora trata a esa columna como una serie de valores discretos (classes, labels). 

3. Usando las demás columnas numéricas y una a una, utiliza SVM (SVC) para clasificar esa columna modificada.

4. Usando todas las demás columnas a la vez, utiliza SVM para clasificar esa columna modificada. Es decir, "Avg. Area Income" con nuestro target, después "Avg. Area House Age", ... ¿hace aumentar el score? ¿por qué? 

5. ¿Qué columna tiene mejor correlación con "Avg. Area Number of Bedrooms" una vez modificada? ¿qué columna da mejor score para nuestro target? 

-------------------------- 

ACLARACIÓN del apartado 2 del ejercicio 2:

- En el punto 3, se espera que tu X sea una sola columna e y también, 'Avg. Area Number of Bedrooms'.

- En el punto 4, se espera que tu X sean todas las columnas que cumplen con las características especificadas y la columna 'Avg. Area Number of Bedrooms'

In [10]:
df.drop(["Address"], axis=1, inplace=True)

In [11]:
from decimal import Decimal, ROUND_HALF_DOWN

In [12]:
df["Avg. Area Number of Bedrooms"] = df["Avg. Area Number of Bedrooms"].apply(lambda x: Decimal(str(x)).quantize(Decimal('0'), rounding=ROUND_HALF_DOWN))

In [13]:
df["Avg. Area Number of Bedrooms"]=df["Avg. Area Number of Bedrooms"].astype(int)

In [14]:
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4,26354.109472,6.309435e+05
...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3,22837.361035,1.060194e+06
4996,78491.275435,6.999135,6.576763,4,25616.115489,1.482618e+06
4997,63390.686886,7.250591,4.805081,2,33266.145490,1.030730e+06
4998,68001.331235,5.534388,7.130144,5,42625.620156,1.198657e+06
4999,65510.581804,5.992305,6.792336,4,46501.283803,1.298950e+06

In [15]:
from sklearn import svm

In [16]:
X1 = np.array(df['Avg. Area Number of Rooms']).reshape(-1,1)
y1 = np.array(df['Avg. Area Number of Bedrooms'])
from sklearn.model_selection import train_test_split
clf = svm.LinearSVC()
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)
clf.fit(X1_train,y1_train)
print ('score:', clf.score(X1_train, y1_train))
print ('score:', clf.score(X1_test, y1_test))

score: 0.29875
score: 0.272
C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [17]:
X1 = np.array(df['Price']).reshape(-1,1)
y1 = np.array(df['Avg. Area Number of Bedrooms'])
from sklearn.model_selection import train_test_split
clf = svm.LinearSVC()
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)
clf.fit(X1_train,y1_train)
print ('score:', clf.score(X1_train, y1_train))
print ('score:', clf.score(X1_test, y1_test))

score: 0.28775
score: 0.299
C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [18]:
 X1 = np.array(df['Area Population']).reshape(-1,1)
y1 = np.array(df['Avg. Area Number of Bedrooms'])
from sklearn.model_selection import train_test_split
clf = svm.LinearSVC()
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)
clf.fit(X1_train,y1_train)
print ('score:', clf.score(X1_train, y1_train))
print ('score:', clf.score(X1_test, y1_test))

score: 0.1655
score: 0.166
C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [19]:
y1  = np.array(df['Avg. Area Number of Bedrooms']).reshape(-1,1)
X1 = df.drop('Avg. Area Number of Bedrooms', axis = 1)

from sklearn.model_selection import train_test_split
clf = svm.LinearSVC()
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size = 0.2, random_state = 0)
clf.fit(X1_train,y1_train)
print ('score:', clf.score(X1_train, y1_train))
print ('score:', clf.score(X1_test, y1_test))

C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
score: 0.17925
score: 0.173
C:\Users\Administrator\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

El score disminuye, el mejor score es el de area population