https://www.kaggle.com/aakashnain/simple-eda

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

sns.set(color_codes=True)

In [21]:
data = pd.read_csv('auto-mpg.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [23]:
# Check for duplicates, si sale nada es que no hay valores duplicados 
data[data.duplicated()]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [24]:
# Check for opposite duplicates si queremos obtener lo contrario a valores duplicados 
data[~data.duplicated()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [25]:
# Check car names uniques, frecuencia de cada uno de los valores de la columna x
data["car name"].value_counts()

ford pinto                    6
toyota corolla                5
ford maverick                 5
amc matador                   5
amc gremlin                   4
                             ..
datsun 200sx                  1
amc hornet sportabout (sw)    1
audi 5000s (diesel)           1
dodge dart custom             1
mercury zephyr 6              1
Name: car name, Length: 305, dtype: int64

In [26]:
# Check types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [27]:
# horsepower      398 non-null object
# Is object? -> son valores pero pone object y no numerico

horsepower = data.loc[:, ["horsepower"]]
horsepower

    horsepower
0          130
1          165
2          150
3          150
4          140
..         ...
393         86
394         52
395         84
396         79
397         82

[398 rows x 1 columns]

In [28]:
type(data.loc[:, ["horsepower"]].values[0][0]) # el tipo del primer valor de la columna

str

In [29]:
data["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

Example with average and python

In [30]:
def try_convert_to_int(x): #la x representa cada uno de los valores de la columna que se recorre. 
    #creamos una funcion de transformar el valor que se esta recorriendo en int y si al recorrer e intentar convertirlo no se ha podido transformar, que printee rare value y que muestre el valor de x y retorna el valor de x 
    try:
        return int(x)
    except:
        print("Rare value:", x)
        return x

In [31]:
data["horsepower"].apply(try_convert_to_int) #apply con una funcion siempre que se use apply tiene que haber un return de la funcion que se usa

Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?
Rare value: ?

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [32]:
len(data[data["horsepower"] == "?"]) #mascara para que me devuelva la longitud  de las filas que  son igual a interrogacion, es decir hay 6 filas que tienen ?

6

In [33]:
data[data["horsepower"] == "?"] #mostrar las filas

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [34]:
# max --> 230
# min --> 46
data[data["horsepower"] != "?"].horsepower.astype(int).mean() #cogemos todos los valores de la columna horosepower que no sea ?, con astpye lo convertimos en entero y con el .mean nos calcula la media 
#si usamos la media, podemos falsear mucho los valores, asi que es mejor o bien quitar las filas o quizas eliminar las filas, podriamos usar la correlacion entre las filas para ver si podemos extrapolar los datos y poner el valor

104.46938775510205

In [35]:
data["horsepower"].value_counts(normalize=False).sum()# con esto no intentamos normalizar valores nos da la suma total de las filas

398

In [36]:
data["horsepower"].value_counts(normalize=False) #contamos el numero de veces que aparece en la serie

150    22
90     20
88     19
110    18
100    17
       ..
91      1
149     1
158     1
77      1
93      1
Name: horsepower, Length: 94, dtype: int64

In [37]:
data["horsepower"].value_counts(normalize=True) #normalizamos los valores, y vemos las frecuencias de aparicion de cada uno d eellos

150    0.055276
90     0.050251
88     0.047739
110    0.045226
100    0.042714
         ...
91     0.002513
149    0.002513
158    0.002513
77     0.002513
93     0.002513
Name: horsepower, Length: 94, dtype: float64

In [38]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [39]:
# example to obtain the average using python vamos a obtener la media utilizando este for
horsepower_mean = 0
count = 0
for pos, value in enumerate(data["horsepower"]):
    if value != "?":
        horsepower_mean += int(value) # sumamos el valor que hemos encontrado en sa fila  y le sumamos 1 
        count += 1

horsepower_mean = horsepower_mean / count #asi calculamos la media 
horsepower_mean

104.46938775510205

In [40]:
data[data["horsepower"] != "?"]["horsepower"].astype(int).mean() #sale lo mismo

104.46938775510205

In [41]:
data["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [44]:
def convert_to_int_with_average(x): # transformar con el apply el valor si es diferente a ? transformarmelo a int si no devuelve el horse_power_mean cuando recorra un valor que sea diferente  a ? 
    if x != "?":
        return int(x)
    else:
        return horsepower_mean

data["horsepower"] = data["horsepower"].apply(convert_to_int_with_average)

In [45]:
data["horsepower"]

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: int64

In [27]:
x = "?"
x.isnumeric()

False

In [34]:
data[data["horsepower"] == "?"] #ya no existe este valor interrogacion

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

-----------------
Example deletting rows with ?

In [35]:
data[data["horsepower"] == "?"]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

Way with mask

In [36]:
data[data["horsepower"] != "?"] #haciedo esta mascara actualizando el df y nos quedamos solo con los que no tienen ? 
# Tendríamos que actualizar data para quedarnos con las filas sin "?"

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [46]:
#con replace
data[data["horsepower"] == "?"].replace("?",horsepower_mean,inplace=True) #la primera parte apuntas a donde quieres ir, es decir que solo lo cambie en la columna horsepower solo cuando sea == ?
#si hago esto no me cambia los datos  ya qaue apuntamos una parte de la copia que se genera al poner esa parte ya que no es el orgiinal porque es una MASCARA

In [ ]:
data[data["horsepower"] == "?"]=data[data["horsepower"] == "?"].replace("?",horsepower_mean) # asi para quitarlo 
data.replace("?",horsepower_mean,inplace=True) #o  asi se puiede ver, hay que ver que de verdad se ha cambiado