In [8]:
import pandas as pd 
import random

In [9]:

def func_random(jugador1,jugador2):
    x = random.randint(0,6)
    y = random.randint(0,6)
    print("1º número:", x)
    print("2º número", y)
    if x > y:
        return jugador1
    else:
        return jugador2

func_random(input("Nombre 1"),input("Nombre 2"))

1º número: 5
2º número 3

''

In [10]:
tablero1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero1

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [11]:
tablero2 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablero2

   1  2  3  4  5  6  7  8  9  10
1   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
2   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
3   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
4   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
5   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
6   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
7   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
8   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
9   ~  ~  ~  ~  ~  ~  ~  ~  ~  ~
10  ~  ~  ~  ~  ~  ~  ~  ~  ~  ~

In [12]:
tablerovacio1 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])
tablerovacio2 = pd.DataFrame({1: "~", 2: "~",3: "~",4: "~",5: "~",6: "~",7: "~",8: "~",9: "~",10: "~"},index=[1, 2,3,4,5,6,7,8,9,10])

In [13]:
""" Definimos la Clase Barco con la función colocar barco, la cual coloca los barcos en el tablero:

df = tablero1
size = dimensiones del barco ( pequeño: 2, mediano: 3, grande: 4, gigante: 5)
fil = fila
col = columna"""

class Barco: 
    def __init__(self, df): 
        self.df = df

    def colocar_barco(self, size, df): # Introducimos el DataFrame (tablero que escogemos) y el size
        self.size = size

        fil = int(input("Introduce la coordenada fila")) 
        col = int(input("Introduce la coordenada columna"))

# Si tenemos ya barco en la coordenada introducida:
        if df.loc[fil,col] == "#" : 
            print("Ops! There´s already a boat,try again!")


        else:

# Pedimos cómo queremos colocar el barco a partir de la coordenada inicial:
            h_v = input("escribe 'h' si quieres horizontal o 'v' si quieres vertical")

# Ponemos las condiciones para que el barco no se sobreponga o no se sobresalga del tablero para el caso horizontal: 
            if h_v == "h":

                if col == 10:
                    print("You´re out of range")

                elif size == 5 and (col == 7 or col == 8 or col == 9):
                    print("You´re out of range")
                
                elif size == 4 and (col == 9 or col == 8):
                    print("You´re out of range")
                
                elif size == 3 and (col == 9):
                    print("You´re out of range")

                elif size == 2 and df.loc[fil,col + 1 ] == "#": 
                    print("You´re crushing with another boat. Try again!")
                
                elif size == 3 and (df.loc[fil,col + 1 ] == "#" or df.loc[fil,col + 2] == "#"):
                    print("You´re crushing with another boat. Try again!")
                
                elif size == 4 and (df.loc[fil,col + 1 ] == "#" or df.loc[fil,col + 2] == "#" or df.loc[fil,col + 3] == "#"):
                    print("You´re crushing with another boat. Try again!")

                elif size == 5 and (df.loc[fil,col + 1 ] == "#" or df.loc[fil,col + 2] == "#" or df.loc[fil,col + 3] == "#" or df.loc[fil,col + 4] == "#"):
                    print("You´re crushing with another boat. Try again!")

# Si todo está bien, entonces rellena el tablero con el barco indicado:
                else:
                    fil = fil 
                    col_f = col + size - 1
            
                    df.loc[fil,col:col_f] = "#"
                    print(tablero1)
                    return df
        

# Ponemos las condiciones para que el barco no se sobreponga o no se sobresalga del tablero para el caso horizontal: 
            if h_v == "v":

                if fil == 10:
                    print("You´re out of range")
                
                elif size == 5 and (fil == 7 or fil == 8 or fil == 9):
                    print("You´re out of range")
                
                elif size == 4 and (fil == 9 or fil == 8):
                    print("You´re out of range")
                
                elif size == 3 and (fil == 9):
                    print("You´re out of range")

                elif size == 2 and (df.loc[fil + 1, col] == "#"): 
                    print("You´re crushing with another boat. Try again!")
                
                elif size == 3 and (df.loc[fil + 1, col] == "#" or df.loc[fil + 2, col] == "#"):
                    print("You´re crushing with another boat. Try again!")
                
                elif size == 4 and (df.loc[fil + 1, col] == "#" or df.loc[fil + 2, col] == "#" or df.loc[fil + 3, col] == "#"):
                        print("You´re crushing with another boat. Try again!")

                elif size == 5 and (df.loc[fil + 1, col] == "#" or df.loc[fil + 2, col] == "#" or df.loc[fil + 3, col] == "#" or df.loc[fil + 4 , col] == "#"):
                        print("You´re crushing with another boat. Try again!")

# Si todo está bien, entonces rellena el tablero con el barco indicado:
                else: 
                    fil_f = fil + size -1
                    col = col
                    df.loc[fil:fil_f,col] = "#"
                    print(tablero1)
                    return df

In [14]:
barco_pequeño = Barco(tablero1)
barco_mediano = Barco(tablero1)
barco_grande = Barco(tablero1)
barco_gigante = Barco(tablero1)

In [15]:
""" Definimos una función para que te vaya pidiendo los barcos que hay que colocar:
n_barcos = número de barcos que hay que introducir
tamaño: pequeño, mediano, grande o gigante
n: la dimensión del barco (2, 3, 4, 5)
tablero: el tablero sobre el que colocamos los barcos"""

def coloca_tus_barcos(n_barcos,barco,tamaño,n, tablero):
    contador = 1
    print("contador1:", contador)
    while contador < n_barcos: 
        print(f'Coloca el barco{contador} de tamaño {tamaño} en el tablero')
        
        if type(barco.colocar_barco(n,tablero1)) != pd.core.frame.DataFrame:
            print("Try Again!") 
            contador -= 1
        contador += 1

    return tablero

In [16]:
def coloca_jugador1():
    coloca_tus_barcos(2, barco_gigante, "gigante", 5, tablero1)
    coloca_tus_barcos(3, barco_grande, "grande", 4, tablero1)
    coloca_tus_barcos(4, barco_mediano, "mediano", 3, tablero1)
    coloca_tus_barcos(5, barco_pequeño, "pequeño", 2, tablero1)

In [17]:
coloca_jugador1()
##necesario meter except para repetir el proceso(?)

contador1: 1
Coloca el barco1 de tamaño gigante en el tablero

ValueError: invalid literal for int() with base 10: ''

In [33]:
def coloca_jugador2():
    coloca_tus_barcos(2, barco_gigante, "gigante", 5, tablero2)
    coloca_tus_barcos(3, barco_grande, "grande", 4, tablero2)
    coloca_tus_barcos(4, barco_mediano, "mediano", 3, tablero2)
    coloca_tus_barcos(5, barco_pequeño, "pequeño", 2, tablero2)

In [40]:
class jugador1:
    def __init__(self, nombre,tablero1,tablerovacio1):
        self.nombre = nombre
        self.tablero1 = tablero1
        self.tablerovacio1 = tablerovacio1
    def atacar(self, jugador2):
        fil=int(input("Introduce la fila"))
        col=int(input("Introduce la columna"))
        if jugador2.tablero2.loc[fil,col]== "#":
            self.tablerovacio1.loc[fil,col] = "X"
            jugador2.tablero2.loc[fil,col]="X"
            print("Has atacado en:","\n", self.tablerovacio1)
            print("Tus barcos son:","\n", self.tablero1)
            return self.tablerovacio1, self.tablero1
        elif jugador2.tablero2.loc[fil,col]== "~":
            self.tablerovacio1.loc[fil,col]="O"
            jugador2.tablero2.loc[fil,col]="O"
            print("Has atacado en:","\n", self.tablerovacio1)
            print("Tus barcos son:","\n", self.tablero1)
            return self.tablerovacio, self.tablero
        elif jugador2.tablero2.loc[fil,col]=="X" or jugador2.tablero2.loc[fil,col]=="O":
            print("you have already attacked there")
            self.atacar(jugador2)

In [11]:
class jugador2:
    def __init__(self, nombre,tablero2,tablerovacio2):
        self.nombre = nombre
        self.tablero2 = tablero2
        self.tablerovacio2 = tablerovacio2
    def atacar(self, jugador):
        fil=int(input("Introduce la fila"))
        col=int(input("Introduce la columna"))
        if jugador1.tablero1.loc[fil,col]== "#":
            jugador1.tablero1.loc[fil,col]="X"
            self.tablerovacio2.loc[fil,col] = "X"
            print("Has atacado en:","\n", self.tablerovacio2)
            print("Tus barcos son:","\n", self.tablero2)
            return self.tablerovacio2, self.tablero2
        elif jugador1.tablero1.loc[fil,col]== "~":
            self.tablerovacio2.loc[fil,col]="O"
            jugador1.tablero1.loc[fil,col]="O"
            print("Has atacado en:","\n", self.tablerovacio2)
            print("Tus barcos son:", "\n",self.tablero2)
            return self.tablerovacio2, self.tablero2
        elif jugador1.tablero1.loc[fil,col]=="X" or jugador1.tablero1.loc[fil,col]=="O":
            print("you have already attacked there")
            self.atacar(jugador1)
        if

In [41]:
Marina = jugador1(nombre='Marina',tablero1 =tablero1, tablerovacio1= tablerovacio1)
Isabel = jugador2(nombre='Isabel',tablero2 =tablero2, tablerovacio2= tablerovacio2)

NameError: name 'tablerovacio1' is not defined

In [ ]:
import time
turno = 1
while True:
    print("Turno:", turno)
    time.sleep(1)
    print("Ataca Marina")
    Marina.atacar(Isabel)
    print("Ataca isabel")
    Isabel.atacar(Marina)
    turno = turno + 1
    print("---------")

In [55]:
cacaframe={'Name':['j', 'Aishwarya', 'Shaurya', 'Shivangi', 'Priya', 'Swapnil'], 'Age':["23", "21", "22", "21", "24", "25"],'University':['BHU', 'JNU', 'DU', '#', 'Geu', 'Geu']}

In [56]:
cacaframe
df = pd.DataFrame(cacaframe, columns = ['Name', 'Age', 'University'],
                  index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(df)

        Name Age University
a          j  23        BHU
b  Aishwarya  21        JNU
c    Shaurya  22         DU
d   Shivangi  21          #
e      Priya  24        Geu
f    Swapnil  25        Geu

In [49]:
df.keys()

Index(['Name', 'Age', 'University'], dtype='object')

In [50]:
df.values

array([['#', '23', 'BHU'],
       ['Aishwarya', '21', 'JNU'],
       ['Shaurya', '22', 'DU'],
       ['Shivangi', '21', 'BHU'],
       ['Priya', '24', 'Geu'],
       ['Swapnil', '25', 'Geu']], dtype=object)

In [59]:

if "#" not in df.values:
    print("you win")
else:
    print("keep trying")

keep trying